# Below is a scraper that scrapes the website http://ecclerk.erie.gov/or_wb1/
## the scraper that scraped the sbls below can be found on the file scraper_real_property_erie_county.ipynb

In [367]:
import pandas as pd
df = pd.read_csv("../../../data/gentrification/TAX_DATA/no_sales_history_sbls/missing_sbls.csv", header = None)
df[5] = df[4].str.split('*').str[0].str.replace(' ','').str.replace('-','/')
df[6] = df[4].str.split('*').str[1].str.replace(' ','').str.replace('/','-')
df[7] = df[4].str.split('*').str[0].str.replace(' ','')
df

,0,1,2,3,4,5,6,7
0,100.21-1-11.1,Owner,BOND DAVID/REINECK CHARLE,Book-Page/Date,10927-4370 * 2/10/1998 *,10927/4370,2-10-1998,10927-4370
1,100.21-1-15,Owner,HERR EVELYN,Book-Page/Date,8036-431 * 4/30/1973 *,8036/431,4-30-1973,8036-431
2,100.21-1-19,Owner,DISPENZA ANTONINA,Book-Page/Date,7389-337 * 8/31/1967 *,7389/337,8-31-1967,7389-337
3,100.21-1-21,Owner,RINIOLO RUSSELL P,Book-Page/Date,8006-43 * 1/16/1973 *,8006/43,1-16-1973,8006-43
4,100.21-1-21,Owner,PARKER MICHAEL A,Book-Page/Date,10035-505 * 6/16/1989 *,10035/505,6-16-1989,10035-505
...,...,...,...,...,...,...,...,...
27505,99.84-8-4.1,Owner,GE MORTGAGE SERVICE LLC,Book-Page/Date,11017-4682 * 10/29/2002 *,11017/4682,10-29-2002,11017-4682
27506,99.84-8-4.1,Owner,WILLIAMS ALVA,Book-Page/Date,11029-6698 * 2/14/2003 *,11029/6698,2-14-2003,11029-6698
27507,99.84-8-4.1,Owner,CITY OF BUFFALO REF,Book-Page/Date,R 39-S0469 * 9/15/2005 *,R39/S0469,9-15-2005,R39-S0469
27508,99.84-8-4.1,Owner,CITY OF BUFFALO,Book-Page/Date,11104-9301 * 11/16/2005 *,11104/9301,11-16-2005,11104-9301
27509,99.84-8-4.1,Owner,WEEKLEY ADAM P,Book-Page/Date,11179-9611 * 3/31/2010 *,11179/9611,3-31-2010,11179-9611

In [141]:
import requests

headers = {'User-Agent': 'Mozilla/5.0'}
data={}

data['value']="Search"
data['type']="hidden"
data['onclick']="javascript:ValidateAndSubmit(this.form)"
data['search_entry']="smith"#"4810/146"

In [ ]:
from bs4 import BeautifulSoup
from collections import defaultdict
pd.read_csv('sbls.csv')

In [626]:
from IPython.core.display import display, HTML
dct = defaultdict()
lst_failed= []

In [10]:
from IPython.display import clear_output
#!/usr/bin/env python3
# -*- coding: utf-8 -*-
# =============================================================================
# !/usr/bin/env python3
# -*- coding: utf-8 -*-
# =============================================================================
# Created By  : Voltaire Vergara
# Created Date: 11/8/2019
# =============================================================================
"""
The aim of this file is to reproduce a beautiful soup object that contains
the tax history data of an individual through the erie county tax parcel website. Here we use an individiuals
unique SBL to query information
"""
from time import sleep
import requests
from bs4 import BeautifulSoup
import urllib.parse as urlparse
from urllib.parse import parse_qs

counter = 0

def grab_source_SBL(deed_page,sbl):
    """
    Queries the Real Property Parcer of erie county(Specifically only SBL values), which can be found on this link:
                            http://www2.erie.gov/ecrpts/index.php?q=real-property-parcel-search
    This function will return a beautiful soup object of the source code of a SBL's tax History.
    :param sbl: SBL value that we are searching for
    :param mode: it can be tax information history for: "ecgov", or owner history for anything else
    :return: a Beautiful soup object of the tax extry history of that SBL
    """
    global counter
    try:
        file_name = sbl + "+" + deed_page 
        print("FILE:" + file_name)
        file_name = file_name.replace('.','#').replace('/','$')
        body = {'search_entry': deed_page,  # WE CAN CHANGE THIS TO SBL BUT THIS IS OWNER NAME
                'search_by': 'Dynamic Book/Page'}
        headers = {'User-Agent': 'Mozilla/5.0'}
    
        url2 ='http://ecclerk.erie.gov/or_wb1/'  # url we needed adding to since this is the root link

        url = 'http://ecclerk.erie.gov/or_wb1/new_sch.asp'  # search website
        link = requests.post(url, data=body,headers = headers )
        source_soup = BeautifulSoup(link.content, 'html.parser')
        owner = source_soup.find_all('a', {'class': 'list_2'})
        counting = 1 
        for own in owner:
            con2 = requests.post(url2+ ''.join(own['href'].split()))
            details_soup = BeautifulSoup(con2.content, 'lxml')    
            with open("../../../data/gentrification/LATEST/htmls4/"+file_name+"&" + str(counting) + ".html","w") as of:
                of.write(str(details_soup.html)) 
            counting += 1
        counter += 1 
    except Exception as e:
        print('failure on----------------------')
        print(sbl)
        print(deed_page)
        print(e)
        #lst_failed.append([deed_page,sbl])
    print(counter/len(df2) * 100)
    clear_output(wait = True)
    #print(pd.read_html(str(details_soup))[4][1][6])

In [11]:
df3.apply(lambda row: grab_source_SBL(row['Deed page'],row['SBLS']), axis = 1 )

231420    None
231421    None
231422    None
231423    None
231424    None
          ...
308556    None
308557    None
308558    None
308559    None
308560    None
Length: 77141, dtype: object

# This section we combine all the owner history htmls onto a dataframe. we try to append all the owner history onto one CSV

In [18]:
import os
path = "../../../data/gentrification/LATEST/owner_history_htmls/"
files = os.listdir(path)#"../../../data/gentrification/TAX_DATA/no_sales_history_sbls/htmls/")
files[4]

'78#57-4-4.html'

In [ ]:
counter = 0
lst_failed =[] 
for file_name in files:
    x= file_name.replace('#','.').replace('+','/')[:-5]
    try:
        with open(path +  file_name, "r", encoding='utf-8') as file:
                    data= file.read()

        df= pd.read_html(str(data))[0]
        df['SBL'] = file_name.replace('#','.').replace('+','/')[:-5]
        df.to_csv('../../../data/gentrification/LATEST/owner_history.csv', mode='a', header=False,index = False)
        counter += 1 
        print(counter / len(files) * 100)
    except:
        print(x)
        lst_failed.append(x)
        display(HTML(data))

In [2]:
import pandas as pd
df2 = pd.read_csv('../../../data/gentrification/LATEST/owner_history.csv', header = None)
def sbls(x):
    if isinstance(x[4],str):
        return x[4]
    return x[2]
df2['SBLS'] = df2.apply(lambda x: sbls(x), axis = 1)
df2['Deed page'] = df2[3].str.split('*').str[0].str.replace(' ','').str.replace('-','/')
len(df2)

308561

In [6]:
df3 # This is the result

,0,1,2,3,4,SBLS,Deed page
231420,Owner,RILES MELVIN & GEORGIA T,Book-Page/Date,8433-431 * 9/15/1976 *,100.43-2-59,100.43-2-59,8433/431
231421,Owner,RILES GEORGIA T,Book-Page/Date,10868-1339 * 3/15/1994 *,100.43-2-59,100.43-2-59,10868/1339
231422,Owner,RILES LORRAINE F,Book-Page/Date,11222-7565 * 5/7/2012 *,100.43-2-59,100.43-2-59,11222/7565
231423,Owner,LINWOOD LAFAYETTE HOUSING DEV FUND CO INC,Book-Page/Date,11323-4848 * 12/27/2017 *,100.24-1-1.1,100.24-1-1.1,11323/4848
231424,Owner,CHUDY GERALD & W,Book-Page/Date,8199-251 * 8/13/1974 *,123.81-8-2,123.81-8-2,8199/251
...,...,...,...,...,...,...,...
308556,Owner,SURDI MARK J,Book-Page/Date,9950-150 * 11/23/1988 *,77.49-1-18,77.49-1-18,9950/150
308557,Owner,SURDI JOSEPH D,Book-Page/Date,10884-5136 * 3/31/1995 *,77.49-1-18,77.49-1-18,10884/5136
308558,Owner,SURDI JOSEPH D & BEVERLY,Book-Page/Date,10884-8668 * 4/10/1995 *,77.49-1-18,77.49-1-18,10884/8668
308559,Owner,BARNES DAVID,Book-Page/Date,11216-6145 * 1/31/2012 *,77.49-1-18,77.49-1-18,11216/6145
308560,Owner,GOETZ JENNIFER,Book-Page/Date,11315-9723 * 7/19/2017 *,77.49-1-18,77.49-1-18,11315/9723

# in this section, we parse through the public records html and combine them the considerations we got to the owner history data

In [615]:
df = pd.DataFrame(lst_failed)
df['comb'] = df[0]+df[1]

In [ ]:
len(df['comb'].unique())

In [6]:
import os 
from IPython.core.display import display, HTML
files = os.listdir("../../../data/gentrification/LATEST/htmls4/")
files[0]

'78#76-3-11+10035$53&10.html'

In [7]:
from collections import defaultdict
from IPython.display import clear_output
import numpy as np
lst = []
counter = 0
lst_failed= []
dct = defaultdict(list)
for fl in files: 
    with open("../../../data/gentrification/LATEST/htmls4/" + fl, "r", encoding='utf-8') as file:
            data = file.read()
    name = fl[:-5].replace('#','.').replace('$','/')
    sbl = name.split("+")[0]
    deed_page = name.split("+")[1].split("&")[0]
    try:
        doc_types = []
        df= pd.read_html(str(data))
    except Exception as e:
        lst_failed.append([fl,e])
        lst.append([sbl,np.nan,np.nan,deed_page,np.nan,np.nan])
        counter += 1 
        continue 
    
    doc_type = df[4][1][0]
    consideration = df[4][1][6]
    date = df[4][1][2]
    url_book_page = df[4][1][4]
    dct_name = sbl + "+" + deed_page
    print(counter/len(files)*100)
    if doc_type not in dct[dct_name]:
        lst.append([sbl,consideration,doc_type,deed_page,url_book_page,date])
        dct[dct_name].append(doc_type)
    counter += 1 
    clear_output(wait = True)

99.99945293010634

In [8]:
df = pd.DataFrame(lst, columns = ['SBLS','considerations','doc type','deed page(search parcel)','deed page(public records)','date(public records)'])
#df.groupby('SBLS').apply(lambda x: print(x))

In [10]:
df.to_csv('deeds4.csv', index = False)

In [11]:
lst_df = []
for i in range(1,5):
    df2 = pd.read_csv('deeds'+str(i)+".csv")
    lst_df.append(df2)

In [16]:
pd.concat(lst_df).reset_index(drop= True).to_csv('combined_deeds.csv',index= False) # we concatenate all deeds

### here we try to combine with information grabbed from open data buffalo 
#### the website can be found here; https://data.buffalony.gov/Government/2019-2020-Assessment-Roll/kckn-jafw/data

In [5]:
# open data import 
open_data_df = pd.read_csv('https://data.buffalony.gov/api/views/kckn-jafw/rows.csv?accessType=DOWNLOAD',low_memory = False)

In [8]:
combined_deeds_df= pd.read_csv('combined_deeds.csv')

In [16]:
sliced_open_data_df  = open_data_df[['PRINT KEY','CENSUS BLOCK GROUP','ZIP CODE (5-DIGIT)','CENSUS BLOCK','NEIGHBORHOOD','LATITUDE','LONGITUDE','LOCATION']].rename(columns = {'PRINT KEY':'SBLS'})

# Now we try to merge the missing information onto the combined deeds csv

In [17]:
pd.merge(combined_deeds_df,sliced_open_data_df, how = 'left')

,SBLS,considerations,doc type,deed page(search parcel),deed page(public records),date(public records),CENSUS BLOCK GROUP,ZIP CODE (5-DIGIT),CENSUS BLOCK,NEIGHBORHOOD,LATITUDE,LONGITUDE,LOCATION
0,100.74-2-9,"$3,000.00",DEED,11267/366,11267/366,7/25/2014 15:52:34,1,14211.0,1004,Fruit Belt,42.903183,-78.851874,"(42.90318325861876, -78.85187357178656)"
1,133.67-2-9,$1.00,D1B,11010/0182,11010/182,7/18/2002 10:41:20,1,14220.0,1005,South Park,42.840160,-78.802612,"(42.84015971394267, -78.80261153815063)"
2,78.57-5-22,$1.00,D1B,10999/4232,10999/4232,2/4/2002 1:13:18,2,14216.0,2001,North Park,42.950874,-78.855387,"(42.95087391946488, -78.85538652815819)"
3,123.14-4-29,$0.00,IMM,8908/651,8908/651,1/1/1900 : : 0,3,14210.0,3023,Seneca-Cazenovia,42.861571,-78.820813,"(42.86157104086913, -78.82081335523102)"
4,79.38-11-15,$0.00,D99,9811/300,9811/300,12/31/1987 : : 0,1,14214.0,1003,University Heights,42.956208,-78.831382,"(42.956208000105526, -78.83138168198272)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
326400,78.49-1-34,$0.00,IMM,8909/358,8909/358,1/1/1900 : : 0,1,14216.0,1015,North Park,42.954803,-78.854792,"(42.95480335933494, -78.85479216992115)"
326401,90.24-8-39,$0.00,IMO,9157/556,9157/556,1/1/1900 : : 0,3,14215.0,3006,University Heights,42.940361,-78.819734,"(42.940361194316864, -78.81973441030698)"
326402,112.58-5-24,$0.00,IMO,9050/455,9050/455,1/1/1900 : : 0,1,14206.0,1004,Lovejoy,42.885550,-78.802932,"(42.8855503209427, -78.8029324848617)"
326403,90.34-3-28,$0.00,IMO,8325/353,8325/353,1/1/1900 : : 0,1,14215.0,1000,Kensington-Bailey,42.937776,-78.804724,"(42.93777624742554, -78.80472408520393)"
326404,100.54-2-4,$0.00,IMO,9224/29,9224/29,1/1/1900 : : 0,3,14222.0,3004,Elmwood Bryant,42.908591,-78.873655,"(42.90859096107152, -78.87365489095077)"